<?xml version="1.0" ?><ROOT><PARAM CREATED="24-10-2017 16:45:13" ID="SC_1504772736"><REMOTE_PASSWORD>Grutil001</REMOTE_PASSWORD><REMOTE_LOGIN>aziz</REMOTE_LOGIN><TRACE>/home/abdel/.virtualenvs/envVideoConvert/src/out</TRACE><REMOTE_PORT>22</REMOTE_PORT><LOCAL_DIR>/home/abdel/Musique</LOCAL_DIR><REMOTE_DIR>/media/68f01296-3d04-4ab9-9c6a-2ed0acf0ebc1/NAS-PARTAGE/www/</REMOTE_DIR><REMOTE_HOST>192.168.0.17</REMOTE_HOST><ID>SC_1504772736</ID><REMOTE_IP>192.168.0.17</REMOTE_IP></PARAM><PARAM CREATED="24-10-2017 16:45:50" ID=""><REMOTE_PASSWORD>Grutil001</REMOTE_PASSWORD><REMOTE_LOGIN>2222</REMOTE_LOGIN><TRACE>/home/abdel/.virtualenvs/envVideoConvert/src/out</TRACE><REMOTE_PORT>22</REMOTE_PORT><LOCAL_DIR>/home/abdel/Musique</LOCAL_DIR><REMOTE_DIR>/media/68f01296-3d04-4ab9-9c6a-2ed0acf0ebc1/NAS-PARTAGE/www/</REMOTE_DIR><REMOTE_HOST>192.168.0.17</REMOTE_HOST><ID/><REMOTE_IP>192.168.0.17</REMOTE_IP></PARAM></ROOT>